<div class="container-fluid">
 <div class="row justify-content-center" id="child1">
     <div class="col-6">
         <h6 class="child1-items">Get connected with us on social networks!</h6>
     </div>
     <div id="social-group" class="col-6">
            <h4 class="child1-items"> 
                 <a class="social" href=""> <i class="fab fa-facebook "></i></a>                  
                 <a class="social" href=""><i class="fab fa-instagram "></i></a>
                 <a class="social" href=""><i class="fab fa-twitter "></i></a>
                 <a class="social" href=""><i class="fab fa-github"></i></a>
            </h4>
    </div>
 </div>
 <div id="footer-body" class="row justify-content-center">
     <div class="col-3 col-2-offset">
         <h3>Comapny Name</h3>
         <p>Here you can use rows and columns to organize your footer content.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>
     <div class="col-3 col-2-offset">
            <h3>Links</h3>
            <ul>
              <li><a href="">Home</a></li> 
              <li><a href="">srevice</a></li> 
              <li><a href="">voitures</a></li> 
              <li><a href="">accessoire</a></li> 
            </ul>
     </div>
     <div class="col-3 col-2-offset">
            <h3>Contact</h3>
            <ul>
                <li>tel-mobile : xx722400</li>
                <li>tel-fixe : xx722400</li>
                <li>fax : xx722400</li>
                <li>adresse : 123 rue xxx</li>
                <li>email : abdesslam155@gmail.com</li>
            </ul>
     </div>
 </div>
</div>