<!-- search ( filter by ) -->
<div class="container">
<div class="row justify-content-center">
<div class="col">
<hr/>  
<div class="row  justify-content-center">
<div class="col-8">
<form>
<div class="form-row">
<div class="col">
<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
  placeholder="Recherche voiture par modele , marque ou annee">
</div>
</div>
</form>
</div>
</div>

<hr/>
<!-- order by -->
<div class="row  justify-content-end">
<div class="col-3">
<label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
[(ngModel)]="selectedLevel" (change)="selected()">
<option selected id="-1"> trier par </option>
<option *ngFor="let item of sortby" [ngValue]="item">{{item.name}}</option>
</select>
</div>
</div>
</div>
</div>
</div>


<!-- list of all cars w/ filter , Sort , Pagination -->

<div class="container">
<div class="row justify-content-center">
<div  *ngFor="let c of car | filter : searchText  | orderBy: order | paginate: { itemsPerPage: 12, currentPage: p } "  class="col-md-4 col-sm-12">
<div class="card-deck" >
<div  class="card shadow">
<img src="http://wallpaperswide.com/download/2020_mercedes_amg_gt_r-wallpaper-2560x1080.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">{{c.marque}}  {{c.modele}}</h5>
<p> {{c.annee}}</p>
<p class="card-text">couleur : </p>
<div id="colorPic" [ngStyle]="{'background-color': c.couleur }"></div>
</div>
<div class="card-footer">
<small class="text-muted">Last updated 3 mins ago</small>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container"  id="pagiantion">
<div class="row justify-content-center">
<div class="col-md-4">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
</div>