

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">image</th>
            <th scope="col">prix</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of accessoires">
            <th scope="row">{{a.id}}</th>
            <td>{{a.nom}}</td>
            <td><img src="{{a.img_urle}}" /></td>
            <td>{{a.prix}}</td>
            <td>
              <button class="btn btn-danger" (click)="Annuler(a)">Annuler</button>
            </td>
          </tr>
          <th scope="row" colspan="3">
            prix totale
          </th>
          <td>{{totale}}</td>
        
        </tbody>
      </table>
    
      
























                 












  
  
  
  
  
  
  